@model WebApplication3.Models.CalcModel

@{
    ViewBag.Title = "Index";
}

<h2>Dinari u eure</h2>
<h4><i>Unesi koliko dinara zelis da konvertujes u eure !</i></h4>

@using (Html.BeginForm("Index", "Home", FormMethod.Post))

{
    @Html.TextAreaFor(m => m.dinar);
    <i>dinara</i>

    <input type="submit" value=">>>" />

    @Html.DisplayFor(m => m.euro);
    <i>eura</i>


}
<h2>Euri u dinare</h2>
<h4><i>Unesi koliko eura zelis da konvertujes u dinare !</i></h4>
@using (Html.BeginForm("Index", "Home1", FormMethod.Post))
{

    @Html.TextAreaFor(m => m.euro1);
    <i>eura</i>

    <input type="submit" value=">>>" />
    @Html.DisplayFor(m => m.dinar1);
    <i>dinara</i>

}



