@model ConvertorEDDE.Models.ConvertModel

@{
    ViewBag.Title = "Index";
}

<h2>Konverzija</h2>


@using (Html.BeginForm("ConvertToEuro", "Home", FormMethod.Post))
{
    @Html.TextAreaFor(m => m.broj);
    <i>dinara</i>
    <input type="submit" value="ConvertToEuro" />
    @Html.DisplayFor(m => m.euro);
    <i>eura</i>
}

@using (Html.BeginForm("ConvertToDinar", "Home", FormMethod.Post))
{
    @Html.TextAreaFor(m => m.broj);
    <i>eura</i>
    <input type="submit" value="ConvertToDinar" />
    @Html.DisplayFor(m => m.dinar);
    <i>dinara</i>
}



